.hero {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 10rem 1fr;
  position: relative;
}

.heroImg {
  position: absolute;
  right: -1.5rem;
  top: -3.55rem;
  z-index: 1;
  grid-column: 2/4;
  height: 100%;
  grid-row: 1/3;
  width: 258px;
  height: 430px;
}
.heroImg img {
  width: 100%;
  height: 100%;
  filter: brightness(0.9) contrast(1.2); /* Adjust as needed */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Subtle shadow for depth */
}

.links {
  display: flex;
  gap: 1rem;
  left: 0;
  list-style: none;
  position: absolute;
  rotate: -180deg;
  top: 6rem;
  writing-mode: vertical-lr;
}

.links a {
  font-size: var(--smaller-font-size);
}

.heroContent {
  grid-row: 2;
  z-index: 4;
  grid-column: 1/-1;
  grid-row: 3;
}

.heroText h1 {
  font-size: var(--largest-font-size);
}
.price {
  color: var(--primary-color);
}

@media (min-width: 1024px) {
  .hero {
    display: grid;
    grid-template-columns: 1.2fr 1fr;
    grid-template-rows: 62vh 20px;
    position: relative;
  }
  .heroImg {
    width: 480px;
    height: 680px;
  }
  .links {
    top: 10rem;
  }
  .heroContent {
    grid-column: 1;
    width: 23rem;
    margin-left: 8rem;
    margin-top: 10rem;
    grid-row: 1;
  }
}

@media (min-width: 780px) and (max-width: 1023px) {
  .hero {
    display: grid;
    grid-template-columns: 1.2fr 1fr;
    grid-template-rows: 40.5vh 20px;
    position: relative;
  }

  .links {
    top: 6rem;
  }
  .heroContent {
    grid-column: 1;
    width: 23rem;
    margin-left: 5rem;
    margin-top: 5rem;
    grid-row: 1;
  }
}
