.hero {
  display: grid;
  gap: 2.8rem;
  grid-template-rows: 375px 1fr;
  position: relative;
}

.heroImg {
  position: absolute;
  right: -1.5rem;
  top: -3.55rem;
  z-index: 1;
}

.links {
  display: flex;
  gap: 1rem;
  left: 0;
  list-style: none;
  position: absolute;
  rotate: -180deg;
  top: 6rem;
  writing-mode: vertical-lr;
}

.links a {
  font-size: var(--smaller-font-size);
}

.heroContent {
  display: grid;
  gap: 2rem;
  grid-row: 2;
  z-index: 4;
}

.heroText {
  display: grid;
  gap: 1rem;
}
.price {
  color: var(--primary-color);
}
